= link_css '/stylesheets/isoform_svg'
.isoform_svg_tool
  .window
    - log :svg, "Downloading SVG"
    = protein.marked_svg([])

  :javascript

    deffer(function(){
      require_js("/js/isoform_svg.js")
      var tool = $('.isoform_svg_tool').last().isoform_svg_tool({protein:"#{ protein }", sequence: "#{sequence}"});
    })


