.logo
  %a.image(href="http://www.cnio.es/")
    %img(src="http://www.cnio.es/img/comunes/header/cnio.gif")
.address
  %span.center CNIO. Centro Nacional de Investigaciones Oncologicas (Spanish National Cancer Research Center)
  %span.group Structural Computational Biology Group
  %span.address   C/ Melchor Fernandez Almagro, 3, E-28029 Madrid
.contact
  %span.who miguel.vazquez
  %span.where cnio.es
