- require 'rbbt/knowledge_base/COSMIC'

- entity_card = EntityCard.new(entity)

- entity_card.action_controller = default_action_controller entity
= entity_card_render entity_card do
  - principal_isoforms = entity.proteins.subset(Appris::PRINCIPAL_ISOFORMS.to_a)
  %dl
    %dt Principal Isoforms
    %dd
      %p= principal_isoforms.collect{|p| p.link} * ", "
    %dt Not Principal Isoforms
    %dd
      %p= entity.proteins.remove(principal_isoforms).collect{|p| p.link} * ", "
